[Unit]
Description=Management OS Userland Control Entrypoint Service
After=network.target nss-lookup.target network-online.target systemd-networkd-wait-online.service
Requires=network-online.target systemd-networkd-wait-online.service

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 3
ExecStart=/entrypoint

[Install]
WantedBy=multi-user.target
